<div class="infoBackground">
  <div class="center">
    <image class="logo" src="https://image.flaticon.com/icons/svg/167/167323.svg"></image>
    <h1 class="name">Profile Info</h1>
  </div>
  <form id="form2" action="/profileInfo?users_id={{users._id}}" method="POST">
    <label for="">Name</label><br>
    <input type="text" name="name" value="{{users.name}}"
      placeholder="Your Name">

    <label for="">Birthday</label><br>
    <input class="prof-box" type="date" name="birthday" value="{{users.birthday}}"
      placeholder="Birthdate">

    <label for="">Email</label><br>
    <input type="text" name="email" value="{{users.email}}"
      placeholder="Email">

<select name="profilePicture">
      <option value="uranus">Uranus</option>
      <option value="mercury">Mercury</option>
      <option value="mars">Mars</option>
      <option value="earth">Earth</option>
      <option value="venus">Venus</option>
      <option value="jupiter">Jupiter</option>
    </select>
    <button type="submit">Create</button>
  </form>
</div>