<div id="nav-main-container">

    <div id="nav-left-container">
        <div>
            <img src="/images/nasalogo.png"> 
         </div>
        <div>
            Project Name 
        </div>
    </div>

    <div id="nav-right-container">
        <ul>
            <div class="nav-list-item"><li>Placeholder</li></div>
            <div class="nav-list-item"><li>Placeholder</li></div>
            <div class="nav-list-item"><li>Placeholder</li></div>
            <div class="nav-list-item"><li>Placeholder</li></div>
        </ul>
    </div>

</div>