<div id="nav-main-container">

    <div id="nav-left-container">
        <div>
            <img src="/images/nasalogo.png"> 
         </div>
        <div>
            Project Name 
        </div>
    </div>

    <div id="nav-right-container">
        <ul>
            <li>Login</li>
            <li>Signup</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
    </div>

</div>