<nav>
    <div id="nav-main-container">

        <div id="nav-left-container">
            <div>
                <a href="/menu"><img src="/images/solar-system.png">
            </div>
            <div>
                Space Explorer 
            </div>
            </a>
        </div>

        <div id="nav-right-container">
        <div class="dropdown">
            <button class="dropbtn"><img src="/images/telescope.png">Menu </button>
                <div class="dropdown-content">
                    <a href="/profile/{{user._id}}">Profile</a>
                    <a href="/discover">Discover</a>
                    <a href="/live">Live</a>
                    <a href="/glossary">Glossary</a>
                    <a href="/logout">Logout</a>
                </div>
        </div>
    </div>
</nav>