<div id="nav-main-container">

    <div id="nav-left-container">
        <div>
            <img src="/images/logo.svg"> 
         </div>
        <div>
            Project Name 
        </div>
    </div>

    <div id="nav-right-container">
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/live">Live</a></li>
            <li><a href="/glossary">Glossary</a></li>
        </ul>
    </div>

</div>