<nav>
    <div id="nav-main-container">

        <div id="nav-left-container">
            <div>
                <img src="/images/logo.svg"> 
            </div>
            <div>
                Project Name 
            </div>
        </div>

        <div id="nav-right-container">
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="/profile/{{user._id}}">Profile</a>
                    <a href="/discover">Discover</a>
                    <a href="/live">Live</a>
                    <a href="/glossary">Glossary</a>
                </div>
        </div>
    </div>
</nav>