{{> nav }}

<div id="discover-main-container">

    {{#each pictures}}
    <div class="picture-container">

    <a href="/discover/{{ id }}"><img src="{{ data.image_files.[0].file_url }}"></a>
    </div>
    <form action="/discover/favorite/{{ id }}" method="post">
      <button type="submit">Favorite</button>
    </form>
    {{/each}}

</div>


{{> footer }}