{{> nav }}

<div id="discover-main-container">

    {{#each pictures}}

    {{ data.name }}

    <a href="/discover/{{ id }}"><img src="{{ data.image_files.[0].file_url }}"></a>

    {{/each}}

</div>



