{{>nav}}

<div id="glossary-main-container">

    {{#each glossary}}
     
    <div class="word-container">
        <h1 class="underline">{{name}}</h1> 
        <hr>
        <p>{{definition}}</p><br>

    </div>

    {{/each}}

</div>

{{>footer}}