{{>nav}}

<div id="glossary-main-container">

    {{#each glossary}}
     
    <div class="word-container">
        {{name}} <br><br>
        {{definition}}

    </div>

    {{/each}}

</div>

{{>footer}}