
<div id="home-main-container">

<div class="center main-logo">
    <image class="home-logo" src="images/solar-system.png"></image>
    <h1 class="pop">Space Explorer</h1>
</div>

<button><a  href="/signup">Create account</a></button>
<button><a  href="/login">Login</a></button>

</div>
