
<div id="home-main-container">

<div class="center main-logo">
    <image class="logo" src="images/logo.svg"></image>
    <h1>Project Name</h1>
</div>

<div id="text-container">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique, metus eget pulvinar vestibulum, massa ex mollis lectus, vel ultrices est nunc in lectus. Integer convallis ultrices dignissim. Nullam in mauris leo. Vestibulum suscipit mi mauris, tempor tempor enim suscipit et. Praesent scelerisque dapibus est, sed viverra nibh
</div>

<button><a href="/signup">Create account</a></button>
<button><a href="/login">Login</a></button>

</div>
