{{> nav}}

<div id="menu-main-container">
    <a class="live" href="/live">
        <div class="menu-sub-container">
            <img src="/images/homepage.jpg" class="round-images">
            <div class="title">Live</div>
        </div>
    </a>
    <a class="live" href="/discover">
        <div class="menu-sub-container">
            <img src="/images/blue.jpg" class="round-images">
            <div class="title">Pictures</div>
            
        </div>
    </a>
    <a class="live" href="/glossary">
        <div class="menu-sub-container">
            <img src="/images/color.jpg" class="round-images">
            <div class="title">Glossary</div>
        </div>
    </a>
</div>
