{{> nav}}

<div id="menu-main-container">
    <div class="menu-sub-container"><a href="/discover"><img src="/images/homepage.jpg" class="round-images"></a></div>
    <div class="menu-sub-container"><a href="/live"><img src="/images/homepage.jpg" class="round-images"></a></div>
    <div class="menu-sub-container"><a href="/glossary"><img src="/images/homepage.jpg" class="round-images"></div></a>
</div>

{{>footer}}