{{> nav}}

<div id="menu-main-container">
    <div class="menu-sub-container">
        <a href="/live"><img src="/images/homepage.jpg" class="round-images">
        <div class="title">Live</div>
        </a>
    </div>
    <div class="menu-sub-container">
        <a href="/discover"><img src="/images/blue.jpg" class="round-images">
        <div class="title">Pictures</div>
        </a>
    </div>
    <div class="menu-sub-container">
        <a href="/glossary"><img src="/images/color.jpg" class="round-images">
        <div class="title">Glossary</div>
        </a>
    </div>

</div>

{{>footer}}