{{> nav}}
<div class="new-background">
  <div class="andPicture">
    <img class="profPic" src="../{{user.image}}"></img>
  </div>
  <h1 class="name2">{{user.name}}</h1>
  <div>
    <h1 class="favorites">Favorites</h1>
    <div class="favBorder">
  {{!-- collection of favorites --}}

  {{!-- <script>
    for (i=0; i< user.favorites.length ; i++) {
      axios.get(`http://hubblesite.org/api/v3/image/${user.favorites[i]}`)
    }
    .then(())
    .catch((err) => {
        console.log(err)
     })
})
  </script> --}}
  

    </div>
  </div>
</div>