{{> nav}}
<div class="new-background">
  <div class="andPicture">
    <img class="profPic" src="../{{user.image}}"></img>
  </div>
  <h1 class="name2">{{user.name}}</h1>
  <div>
    <h1 class="favorites">Favorites</h1>
    <div class="favBorder">
  {{!-- collection of favorites --}}
    </div>
  </div>
</div>