#glossary-main-container {
    margin-top: 8vh;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/stars.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.word-container {
    width: 80%;
    background-color: #09092a;
    color:white;
    padding: 2vh;
    border: 1px solid rgb(253, 206, 78);
}

hr {
    display: block;
    width: 50vw;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -1px;
}

@media only screen and (min-device-width: 1000px) {
   .underline {
       text-decoration: underline;
       text-decoration-color: rgb(253, 206, 78);
   }

   hr {
    display: none;
}

}