#image-main-container {
   margin-top: 8vh;
   background-color: black;
}

#image-container {
    padding: 5vh 0;
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-container img {
    width : 80%;
}

.image-title {
    color: white;
    width:80%;
    padding: 5vh;
}

/* textarea {
    border-radius: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

.submit {
    border: 1px solid white;
    padding: 0px;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    background-color: white; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
} */

textarea{
    resize: none;
    outline: none;
    width: 8vw;
    font-family: tahoma;
    background: #f9f9f9;
  }
  
  textarea:focus{
    background: #fff;
  }
  
  input[type="submit"]{
    width: 20vw;
    padding: 5px 0px;
    font-weight: bold;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    
  }
  
  .content{
    width: 100%;
  }
  
  .comments{
    width: 80vw;
    margin: 0px auto;
  }
  
  .insert-text{
    position: relative;
  }
  
  .insert-text .loading{
    position: absolute;
    bottom: -25px;
    display: none;
  }
  
  .insert-text .total-comment{
    position: absolute;
    bottom: -25px;
    right: 0px;
    color: white;
  }
  
  .insert-text .total-comment:before{
    content: "Total comment: ";
    font-weight: bold;
    color:white;
  }
  
  .list-comments{
    margin-top: 30px;
    border: 1px solid #ccc;
    background-color: white;
    height: 40vh;
    border-radius: 10px;
  }
  
  .list-comments > div{
    padding: 10px;
    border-bottom: 1px solid black;
    color: black;
  }
  
  .list-comments > div:last-child{
    border-bottom: 1px solid black;
    color: black;
  }
  
  .editor{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80vw;
    margin: 0 auto;
  }
  
  .editor-header{
    border-bottom: 1px solid #ccc;
  }
  
  .editor-header a{
    display: inline-block;
    padding: 10px;
    color: #666;
  }
  
  .editor-header a:hover{
    color: #000;
  }
  
  .editor-content{
    padding: 10px;
    outline: none;
    min-height: 80px;
    background: #f9f9f9;
    border-radius: 0px 0px 5px 5px;
  }
  
  .editor-content:focus{
    background: #fff;
  }
  
  b{
    font-weight: bold;
  }
  
  i{
    font-style: italic;
  }
  
  p{
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  a{
    text-decoration: none;
  }
  
  [data-role="bold"]{
    font-weight: bold;
  }
  
  [data-role="italic"]{
    font-style: italic;
  }
  
  [data-role="underline"]{
    text-decoration: underline;
  }
  
  [class^="menu"] {
    position: relative;
    top: 6px;
    display: block;
    width: 27px;
    height: 2px;
    margin: 0 auto;
    background: #999;
  }
  
  [class^="menu"]:before {
    content: '';
    top: -5px;
    width: 80%;
    position: relative;
    display: block;
    height: 2px;
    margin: 0 auto;
    background: #999;
  }
  
  [class^="menu"]:after {
    content: '';
    top: 3px;
    width: 80%;
    position: relative;
    display: block;
    height: 2px;
    margin: 0 auto;
    background: #999;
  }
  
  .menu-left {
    margin-right: 5px;
  }
  
  .menu-left:before{
    margin-right: 5px;
  }
  
  .menu-left:after{
    margin-right: 5px;
  }
  
  .menu-right {
    margin-left: 5px;
  }
  
  .menu-right:before{
    margin-left: 5px;
  }
  
  .menu-right:after{
    margin-left: 5px;
  }