.background{
  background-image: url("../images/loginBackground.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-background {
  background-image: url("../images/signupBackground.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  height: 15vh;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 15px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 40px;
}

#form {
  margin: 0px auto;
  width: 90vw;
  border: 1px solid white;
  border-radius: 10px;
  height: 50vh;
  line-height: 55px;
}


#form label {
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #09092a;
  border: 1px solid #09092a;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #09092a;
  transition: .3s ease background;
}

@media only screen and (min-device-width: 1000px) {

  .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 70px;
  }

  #form {
    margin: 0px auto;
    border: 1px solid white;
    border-radius: 20px;
    height: 45vh;
    line-height: 55px;
    width: 30vw;
  }

  #form label {
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 25px;
  }

  #form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

  #form button {
    background: #09092a;
    border: 1px solid #09092a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease background;
    width: 100%;
    margin-top: 60px;
  }
  

}