#nav-main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: #09092a;
    color: white;
    border-bottom: 1px solid black;
}

#nav-main-container img {
    width: 5vw;
}

#nav-left-container {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
}

#nav-right-container {
    width: 40%;
}

#nav-right-container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-right: 5%;
}