.new-background {
  background-color: black;
  width: 100vw;
}

.andPicture {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.favorites {
  padding-top: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.favBorder {
  margin: 0 auto;
  border: 1px solid white;
  width: 95%;
  height: 2500vh;
  
}

.imgFav {
  width: 49%;
}

.vertical {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-left: -88px;
}

.name2 {
  padding-top: 9vh;
  margin-bottom: -60px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  margin-left: -85px;
}

.profPic {
  width: 80%;
  border-radius: 50%;
  padding-top: 40px;
  margin-left: 40px;
}

@media only screen and (min-device-width: 1000px) {
  .vertical {
    display: flex;
    flex-direction: column;
  }

  .favorites {
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .profPic {
    width: 30%;
    border-radius: 50%;
    padding-top: 8vh;
  }

  .name2 {
    padding-top: 11vh;
    margin-bottom: -70px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 150px;
  }

  .imgFav {
    width: 24%;
    padding-left: 10px;
    margin-top: 10px;
}

}